html, body {
    padding: 0;
    margin: 0;
}

.card{
    margin: auto;
    margin-top: 7em;
    width: 550px;
    height: 550px;
    background: #1F2937;
}

.metric{
    text-align: center;
    width: 550px;
    height: 260px;
    background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
    color: #fff;
    font-weight: 800;
    list-style: 38px;
    padding-top: 30px;
    padding-bottom: 10px;
    
   
}

.metric h2{
    position: relative;
    margin-bottom: 0 10px;
    font-size: 22px;
}


.metric h1{
    margin: 25px 0 0 0;
    font-size: 98px;
}

.conversions{
    margin-top: 14px;
    color: #fff;
    text-align: center;
}

.conversions h3{
    margin: 0;
}

.conversions p{
    margin: 8px 0 20px 0;
}